.dashboard-header{
 display: flex;
 justify-content: space-between;
 color: var(--primary-blue);
}
.dash-heading{
  font-size: 24px;
  font-weight: 600;
}
.week-heading{
  font-size: 12px;
  font-weight: 500;
  margin-right: 43px;
}

.dashboard-overview {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}


@media (max-width: 768px) {
  .dashboard-overview {
    flex-direction: column;
    align-items: center;
  }
}
