.anatomy-container {
  position: relative;
  width: 240px;
}

.anatomy-img {
  width: 150%;
}

.indicator {
  position: absolute;
  background: #fff;
  padding: 6px 10px;
  border-radius: 12px;
  font-size: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.heart {
  top: 70px;
  right: -95px;
  background-color: #5d5fef;
  color: white;
}

.leg {
  bottom: 70px;
  left: 44px;
  background-color: #00cfff;
  color: white;
}

