@import './variables.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-layout {
  display: flex;
  background-color: #f7f9fc;
  overflow: hidden;
}



