.sidebar{
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    
}
.nav-container{
    display: flex;
    flex-direction: column;
    gap:3rem;
}
.nav-items{
    display: flex;
    flex-direction: column;
    gap:1rem; 
}

.nav-heading{
    font-size:'5px';
    color: var(--gray);
    
}
.nav-item{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--gray);
    gap: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}
.nav-item:hover{
    color: var(--dark-blue);
}
