
.calendar-view {
  background-color: #f8faff;
  border-radius: 16px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.calendar-header h4 {
  margin: 0;
  color: var(--primary-blue);
  font-size: 18px;
  font-weight: 600;
}

.nav-arrows span {
  font-size: 18px;
  margin: 0 6px;
  cursor: pointer;
  color: var(--primary-blue);
}

.calendar-week {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.calendar-day {
  text-align: center;
  width: 13%;
}

.day-box {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  color: #666;
  color: var(--primary-blue);
}

.day-box.active {
  background-color: #e6f0ff;
  color: #000;
}

.day-box h5 {
  margin: 5px 0 0;
  font-size: 16px;
  color: var(--primary-blue);
}

.time-slot {
  margin-top: 5px;
  color: var(--primary-blue);
}

.time-slot.highlight {
  background-color: var(--primary-blue);
  color: #fff;
  padding: 3px 10px;
  border-radius: 8px;
  display: inline-block;
}

.appointments {
  display: flex;
  gap: 12px;
}

.appointment-card {
  background-color: var( --upcoming-card-bg);
  padding: 15px;
  border-radius: 12px;
  font-size: 14px;
  color: var(--primary-blue);
}

.dentist {
  background-color: var(--primary-blue);
  color: #fff;
}

.physio {
  color: var(--primary-blue);
  background-color: #e9e6ff;
}